.container {
  display: flex;
  flex: 1;
  width: 100vw;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: Arial;
}

.btn {
  display: flex;
  flex-direction: row;
}

.title {
  font-size: 30px;
  margin-bottom: 20px;
}